.searchModal {
    height: 15rem;
    width: 13rem;
    /* background-color: #fafafa; */
    background-color: black;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    /* bottom: 50%; */
    left: 50%;
}
.fadedWords {
    opacity: 0.3;
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69, 0, 149, 246), 1);
    padding: 0;
    position: relative;
}
.NOTfadedWords {
}
