#root {
  background-color: #fafafa;
}

.landing__container {
  width: 70%;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.posts__feed {
  width: 100%;
  margin-right: 2rem;
}
