#modal-content {
  border-radius: 1rem;
}
.postform {
  width: 35rem;
  height: 20rem;
  font-size: 1.2rem;
  padding: .5rem;
  border-radius: .6rem;
  border: 1px solid #CCCCCC;
}
textarea {
  resize: none;
  margin-left: 5rem;
  border:1px solid #cccccc;
  outline: none;
}
.postform__label {
  display: block;
  margin-left: 14rem;
  padding: .5rem;
}
.postform__input{
  outline:none;

}
.textarea {
  resize: none;
}

.postform__button {
  width: 60%;
  height: 3rem;
  margin-left: 6.7rem;
  border: 1px solid #ccc;
  background-color: #0095f6;
  color: white;
  font-weight: 500;
  border-radius: .6rem;
  outline:none;
  padding: .7rem;
}

.fileInput {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.fileInput__label {
  background-color: #0095f6;
  width: 9rem;
  padding: .5;
  color: white;
  display: inline-block;
  border-radius: .6rem;
  margin: .5rem auto;
  margin-left: 12rem;
}
