.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    grid-gap: 2rem;
    align-items: center;
    width: 66%;
    margin-left: 30rem;
}
