.signUpForm {
    text-align: center;
    width: 38rem;
    height: 38rem;
    margin: 0 auto;
    margin-top: 22rem;
}
.signUpForm Form {
    border: 1px solid #CCCCCC;
}
.signUpForm__title {
    margin-top: 1rem;
    font-weight: 700;
    color: #2B2D2F;
}
input {
    margin: 0.6rem 0.6rem 0.6rem 1rem;
}
.signUpForm__submit {
    width: 50%;
    background-color: #0095f6;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.signUpForm input {
    width: 74%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin: 0 0 0.75rem 3rem; */
}
.logincontainer {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    width: 38rem;
    height: 4rem;
    border: 1px solid #CCCCCC;
}
.logincontainer span {
    text-align: center;
    margin-top: 0.3rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
